.imgContainer {
    background-image: url("../images/bg5.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#topLinks {
    background-color: transparent;
    text-align: center;
    padding-top: 1%;
}

a {
    color: white;
    text-align: center;
}

h4 {
    color: white;
}

.row {
    margin-right: 0 !important;
}

.col-12 {
    width: +15px;
}

#gsBox {
    margin-top: 6.2%;
    margin-bottom: 6.2%;
}

#getStarted {
    background-color: transparent;
    padding: 2%;
    color: white;
}

.bottom-title {
    text-align: center;
    background-color: #51a7f8;
    color: #262626;
    padding: 1%;
    width: 100% auto;
    margin-left: -15px;
    margin-right: -15px;
}

p,
.card-text {
    color: #51a7f8;
}

.card-img-top {
    height: 240px;
    width: 240px;
}

.card {
    border: transparent;
    padding: 4%;
    margin-top: 10%;
    color: #51a7f8
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #262626;
    text-align: center;
    font-size: 12px;
}