node_modules
.DS_Store
.env

<div className='Top5'>
          {Object.keys(this.state.cryptos).map((key) => (

            <div id='crypto-container'>
              <span className='left'>{key}</span>
              <span className='right'><NumberFormat value={this.state.cryptos[key].USD} displayType={'text'} decimalPrecision={2} thousandSeparator={true} prefix={'$'} /></span>
            </div>
          ))}
          </div>



iter #2:

 // <div className='top5'>
          //   {Object.keys(this.state.cryptos).map((key) => (
          //     <div id='crypto-container'>
          //       <span className='left'>{key}</span>
          //         <span className='right'>
          //           {Object.keys(key).map((eachCoin, i) =>
          //         <span className='right'>{eachCoin}</span>
          //       )}
          //       </span>
          //       </div>
          //     ))} 
          // </div>