.globalInfo {
  margin: auto;
  background-color: white;
  border: solid 2px black;
  border-radius: 5px;
  width: 1000px;
  height: 80px;
  margin-bottom: 5px;
}

.stats-container {
  /* margin-top: 100px; */
}

div.main-container, .stats-container, .globalInfo  {
  background: white;
  width: 100%;
  margin: 0 auto 4px auto;
  padding: 1em;
  box-shadow: 1px 1px 0 lightgrey;
}

#marketCap {
  font-size: 1em;
  font-weight: bold
}

#rank {
  font-size: 2.5em;
  font-weight: bolder
}

#gainers-losers {
  
  
}