#converter-container {
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  display: inline-block
}

.formField {
  display: inline-block
}

input#converterInput {
  margin-top: 10px;
  font-size: 1em;
  font-weight: 600
}

.convertCoinAmount,
.fromCoin,
.toCoin,
.convertedCoinAmount {
  width: 150px;
  margin: 0 auto;
  /* float: right */
}

#converterSubmit {
  font-size: 1em;
  font-weight: bold;
  margin: 0 auto
}

h1 {
  font-size: 2em;
  font-weight: bolder;
  margin: 0 auto;
  padding: none
}