.cryptoCard {
  width: 325px;
  height: 80px;
  background-color: white;
  border: 3px solid black;
  border-radius: 4px;
  margin: 5px;
  display: inline-block
}

img#logoSm {
  margin-top: 10px
  /* margin-right: 40px;
  margin-top: 10px */
}

#currentPrice {
  color: green;
  font-size: 1em
}

#invisible {
  color: transparent
}

div#coinName {
  padding: 0
}

div#symbol {
  padding: 0
}

.PC {
  display: inline-flex;
  font-size: 1.5em;
  float: right
}

span#arrow-up {
  width: 0;
  height: 0;
  padding-top: 8px;
  margin-right: 5px;
  border-style: solid;
  float: left;
  top: -17px;
  left: 8px;
  border-width: 0 6px 12px 6px;
  border-color: transparent transparent green transparent;
}

.gainers-percentages {
  color: green;
  font-size: 1em;
  font-weight: bolder;
  display: inline-flex;
}
