div.Top5 {
  background: white;
  width: 100%;
  margin: 0 auto 4px auto;
  padding: 1em;
  box-shadow: 1px 1px 0 lightgrey;
}

#marketCap {
  font-size: 1em;
  font-weight: bold
}

#rank {
  font-size: 2.5em;
  font-weight: bolder
}

#gainers-losers {
  margin: auto;
}